*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --bs-primary-rgb: 26,188,156;
    --bs-secondary-rgb: 44,62,80;
}

/* header */

/* 1st section */
.line{
    height: 6px;
    border: 3px solid white;
    border-radius: 2px;
    max-width: 200px;
}


/* 2nd section, portfolio*/
.line-2{
    height: 6px;
    border: 3px solid #2c3e50;
    border-radius: 2px;
    max-width: 200px;
}

/* 3rd section, about*/
.buttn{
    background-color: #1abc9c;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    padding: 0.3rem 1rem;
}

/* 4th section, contact me*/
.mb-9{
    margin-bottom: 9rem;
}


/* 5th section */
h4{
    color: white;
    font-size: 1rem;
}

.max-width{
    max-width: 250px;
}

.circle{
    color: white;
    border: 1px solid white;
    font-size: 1.1rem;
    border-radius: 50%;
    padding: 0.7rem;
    width: 2.7rem;
}

/* Foooter */
footer{
    font-size: 0.8rem;
}

